<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= student.program %>
  </p>

  <p>
    <strong>Hobby:</strong>
    <%= student.hobby %>
  </p>

</div>
